body{
  text-align: "center";
  background: url("/src/assets/images/login_background.jpg") no-repeat center center fixed;
  background-size: cover;
}

#box{
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 9px 4px;
    background: rgba(200, 200, 200, 0.1);
    border-radius: 4px;
    margin: 10% 35%;
}

h2{
    text-align:center;
    color:black;
}

.img-logo{
  width: 90%;
}

.title{
    font-family: 'Copperplate Gothic';
    font-size: 30px;
    font-weight: 900;
    text-shadow: 3px 2px white;
    color: #0c7fc1;
}
